#content.menu {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: max(1rem, 5vh);
  padding-top: 7rem;
  .menu-items {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 3rem;
    width: 100%;
    padding: 0rem 0rem 2rem 0.5rem;
    backdrop-filter: blur(4px);
  }
  .menu-item {
    background: linear-gradient(to bottom, rgba(46, 49, 56, 0.6), #16140e80);
    min-width: 300px;
    border-radius: 2rem;
    aspect-ratio: 1/1;
    padding: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: fade-in 1s ease forwards;
    img {
      border-radius: 2rem;
      width: 300px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    h3 {
      font-size: 24px;
      width: 100%;
      font-family: "Lobster", sans-serif;
    }
    button {
      padding: 0.5rem 1.5rem;
      border: 1px solid transparent;
      font-family: "Nunito Sans", sans-serif;
      background-color: var(--color-accent);
      color: var(--color-surface);
      font-weight: 900;
      font-size: 16px;
      border-radius: 2rem;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover,
      &:focus {
        background-color: var(--color-accent-hover);
        color: white;
        border: 1px solid white;
      }
      &:focus {
        transform: scale(1.1);
        outline: none;
        border: 2px solid white;
      }
    }
  }
  .menu-item:has(button:focus) {
    border: 1px solid var(--color-accent);
  }
}
