.battle-board {
    margin: 0.5rem 0;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(11, minmax(0, 1fr));
}
.battle-board {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(239, 68, 68, 0.3);
    border-radius: 0.75rem;
    padding: 1.5rem;
}
.grid-title {
    text-align: center;
    font-size: 1.25rem;
    font-family: "Carter One", cursive;
    margin-bottom: 1rem;
}
.grid-title.friendly i {
    color: #60a5fa;
}
.grid-title.enemy i {
    color: #f87171;
}
